body{
  background-image: url(images/try3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-header{
  padding-top: 250px;
  color: #0e361c;
  font-family: 'Caveat', cursive;
  padding-bottom: 50px;
  font-size: 100px;
}
.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.styling-introduction{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  padding: 50px 450px;
  color: #0e361c;
}
.styling-quote{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 15px;
  text-align: center;
  padding: 10px 500px;
  color: #0e361c;
}
.styling{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  color: #0e361c;
}
.stylingquote{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 15px;
  text-align: center;
  color: #0e361c;
}
